h1 {
  color: green;
  font-size: 50px;
}

h2 {
  color: green;
  font-size: 45px;
}

.block {
  background-color: black;
}
.block h3 {
  color: green;
}
.block_color {
  color: yellow;
}
.block_color button {
  display: block;
  width: 200px;
  height: 200px;
  background-color: red;
}
